.histogram {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #e4e4e4;
  padding: 15px;
  border-radius: 8px;
  border: 1px solid #555555;
  z-index: 2;
  color: #555555;

  .histogram__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  .histogram__title-container {
    text-align: left;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .histogram__title {
    margin: 0;
  }
  
  .histogram__subtitle {
    margin: 0;
  }
  
  .histogram__close-button {
    background: none;
    border: none;
    cursor: pointer;
    color: #555555;
    outline: none;
    padding: 0;
  }
  
  .histogram__close-button:hover {
    opacity: 0.8;
  }
  
  .histogram__chart-container {
    width: 100%;
    height: 100%;
  }
}
