.histogram {
  position: absolute;
  bottom: var(--spacing-xs);
  right: var(--spacing-xs);
  background-color: var(--component-background);
  padding: var(--spacing-sm);
  border-radius: var(--border-radius-sm);
  box-shadow: var(--shadow-sm);
  border: none;
  color: var(--primary-color);

  .histogram__header {
    display: flex;
    justify-content: space-between;
  }

  .histogram__title-container {
    text-align: left;
    display: flex;
    align-items: baseline;
    gap: var(--spacing-sm);
  }

  .histogram__title,
  .histogram__subtitle {
    margin: 0;
    font-weight: var(--font-weight-medium);
  }

  .histogram__close-button {
    background: none;
    border: none;
    cursor: pointer;
    color: var(--primary-color);
    outline: none;
    padding: var(--spacing-sm);
  }

  .histogram__close-button:hover {
    color: var(--primary-color-hover);
  }

  .histogram__chart-container {
    width: 100%;
    height: 100%;
  }
}
