.tooltip {
  position: absolute;
  top: calc(attr(data-top px) + attr(data-offset px));
  left: calc(attr(data-left px) + attr(data-offset px));
  background-color: var(--component-background);
  padding: var(--spacing-sm);
  border-radius: var(--border-radius-sm);
  color: var(--text-color-primary);
  text-align: left;
  min-width: fit-content;
  pointer-events: none;
  font-size: var(--font-size-sm);
}