.navbar {
  background-color: var(--component-background);
  box-shadow: var(--shadow-sm);
  width: 100%;
  height: var(--navbar-height);
  z-index: var(--z-index-navbar);
  position: fixed;
  top: 0;
  left: 0;
}

.navbar__content {
  max-width: var(--navbar-max-width);
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--spacing-sm);
}

.navbar__logo {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--logo-color);
}
